.info-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 464px;
    height: 74px;
}

.info-input-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    width: 464px;
    height: 74px;
}

.info-input-label {
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    color: #141C24;
}

.info-input-content > input {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 8px 12px 12px;
    gap: 8px;

    width: 464px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #CED2DA;
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;

    color: #637083;
}